
body {
    margin: 0;
    background-color: #2f4f4f;
}

.title {
    text-align: center;
    font-size: 70px;
    color: rgba(255, 255, 255, 0.5);
}

.container {
    margin: 5% 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00ffff;
    border-radius: 50%;
}

#populate {
    color: #4b0082;
    border-radius: 20px;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    background-color: #ff7f50;
}

.photo img{
    border-radius: 70px;
}

#close {
    cursor: pointer;
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;
}

#close:hover {
    background: black;
}

@media (max-width: 1050px) {
    .container {
        display: block;
    }
    .needed-properties {
        position: absolute;
        top: 200px;
        width: 100%;
        text-align: center;
        background: rgba(59, 55, 55, 0.5)
    }
    #close {
        margin-bottom: 30px;
    }
}

@media (max-width: 770px) {
    *{
        margin: 0; 
        padding: 0;
        box-sizing: border-box;
    } 

    .container {
        display: block;
    }

    .needed-properties {
        top: 160px;
    }

    #populate {
        display: block;
    }

}

@media(max-width: 775px) {
    li p {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media(max-width: 480px) {
    li p {
        font-size: 30px;
        margin-bottom: 20px;
    }
}